<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <rewrite>
   <rules>
   <rule name="APIRule" stopProcessing="true">
                    <match url="^/?data/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                      <add input="{PATH_INFO}" pattern="^/?data/" />
                    </conditions>
                    <action type="Rewrite" url="https://www.twtainan.net/data/{R:1}" appendQueryString="true" redirectType="Temporary" />
                </rule>
    <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
     <match url="(.*)" />
     <conditions logicalGrouping="MatchAll">
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
     </conditions>
     <action type="Rewrite" url="/" />
    </rule>
     <rule name="https Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
   </rules>
  </rewrite>
 </system.webServer>
</configuration>
